body {
  background-color: black;
  width: 99%;
}

#menu-top {
  position: fixed;
  background-color: #f90;
  height: 20%;
  width: 11%;
  left: 0.5%;
  top: 0.5%;
  border-radius: 50px 0 0 0;
}

#border-top {
  position: fixed;
  background-color: #f90;
  height: 5%;
  width: 64%;
  left: 11.5%;
  top: 0.5%;
}

#text {
  position: fixed;
  background-color: #00f;
  height: 5%;
  width: 20%;
  right: 4%;
  top: 0.5%;
  margin-left: 5px;
}

#closing-top {
  position: fixed;
  background-color: #f90;
  height: 5%;
  width: 3%;
  left: 96.5%;
  top: 0.5%;
  border-radius: 0 25px 25px 0;
}

#content {
  position: fixed;
  background-color: #fff;
  height: 80%;
  width: 80%;
  left: 10%;
  top: 5.5%;
  border-radius: 25px 25px 25px 25px;
}

#tray1 {
  position: fixed;
  background-color: #f90;
  height: 7%;
  width: 11%;
  left: 0.5%;
  top: 21%;
}

#tray2 {
  position: fixed;
  background-color: #f90;
  height: 7%;
  width: 11%;
  left: 0.5%;
  top: 28.5%;
}

#tray3 {
  position: fixed;
  background-color: #f90;
  height: 7%;
  width: 11%;
  left: 0.5%;
  top: 36%;
}

#tray4 {
  position: fixed;
  background-color: #f90;
  height: 7%;
  width: 11%;
  left: 0.5%;
  top: 43.5%;
}

#tray5 {
  position: fixed;
  background-color: #f90;
  height: 7%;
  width: 11%;
  left: 0.5%;
  top: 51%;
}

#tray6 {
  position: fixed;
  background-color: #f90;
  height: 7%;
  width: 11%;
  left: 0.5%;
  top: 58.5%;
}

#tray7 {
  position: fixed;
  background-color: #f90;
  height: 7%;
  width: 11%;
  left: 0.5%;
  top: 66%;
}

#tray8 {
  position: fixed;
  background-color: #f90;
  height: 7%;
  width: 11%;
  left: 0.5%;
  top: 73.5%;
}

#tray9 {
  position: fixed;
  background-color: #f90;
  height: 7%;
  width: 11%;
  left: 0.5%;
  top: 81%;
}

#menu-bottom {
  position: fixed;
  background-color: #f90;
  height: 10%;
  width: 11%;
  left: 0.5%;
  top: 88.5%;
  border-radius: 0 0 0 50px;
}
